body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--body-background);
    font-family: 'Readex Pro', sans-serif;
    overflow-x: hidden;
    color: var(--text-color);
    user-select: none;
}

.darkMode {
    --cards-background: rgb(24, 24, 24);
    --text-color: white;
    --body-background: rgb(0, 0, 0);
}

:root {
    --primary-color: #9300ff;
    --scroll-primary-colors: rgba(170, 50, 255, 0.498);
    --body-background: white;
    --cards-background: #eee;
    --text-color: black;
    --transition: .3s ease;
    --border-raduis: 15px;
}

::-webkit-scrollbar {
    background-color: var(--scroll-primary-colors);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 65vh;
    border: 3px solid var(--primary-color);
    border-radius: var(--border-raduis);
}

.container2 {
    position: relative;
    width: 100%;
    height: 100%;
}

.title {
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    border: 3px solid var(--primary-color);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cards-background);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 18px;
    border-radius: var(--border-raduis);
}

.inputs {
    width: 80%;
    height: 60%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.inputs>* {
    width: 100%;
    height: 65px;
    text-indent: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.input {
    width: 100%;
    height: 30px;
    border: 2px solid black;
    outline: none;
    font-size: 20px;
    border-radius: var(--border-raduis);
    text-indent: 10px;
    transition: var(--transition);
    position: relative;
    background-color: var(--cards-background);
    color: var(--text-color);
}

.input:focus {
    border-color: var(--primary-color);
}

.submit {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    color: var(--text-color);
    width: 80%;
    height: 50px;
    display: grid;
    place-content: center;
    border-radius: var(--border-raduis);
    font-size: 20px;
    box-sizing: border-box;
    border: 3px solid;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

.submit:hover {
    border-color: var(--primary-color);
    background-color: var(--cards-background);
    color: var(--primary-color);
}

.moreOptions {
    position: absolute;
    bottom: -20px;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.forgotPassword {
    cursor: pointer;
    transition: var(--transition);
}

.forgotPassword:hover {
    color: var(--primary-color);
}

.signup {
    cursor: pointer;
    transition: var(--transition);
}

.signup:hover {
    color: var(--primary-color);
}

.error {
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translateX(-50%);
    color: transparent;
    transition: var(--transition);
    text-align: center;
}

.error.active {
    color: red;
}

@media (min-width:320px) and (max-width:480px) {
    .container {
        width: 95vw;
    }
}