body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--body-background);
    font-family: 'Readex Pro', sans-serif;
    overflow-x: hidden;
    color: var(--text-color);
    user-select: none;
}

.darkMode {
    --cards-background: rgb(24, 24, 24);
    --text-color: white;
    --body-background: rgb(0, 0, 0);
}

:root {
    --danger-color: #ff2525;
    --primary-color: #9300ff;
    --scroll-primary-colors: rgba(170, 50, 255, 0.498);
    --body-background: white;
    --cards-background: #eee;
    --text-color: black;
    --transition: .3s ease;
    --border-raduis: 15px;
}

::-webkit-scrollbar {
    background-color: var(--scroll-primary-colors);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

.header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--cards-background);
}

.logo {
    width: 200px;
    height: 100%;
    background-image: url(/images/SapphireSartorial-logos_black.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.logo.dark {
    background-image: url(/images/SapphireSartorial-logos_white.png);
}

.search {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInp {
    width: 60%;
    height: 40px;
    background-color: var(--cards-background);
    color: var(--text-color);
    border-radius: var(--border-raduis);
    border: 3px solid var(--primary-color);
    outline: none;
    font-family: 'Readex Pro', sans-serif;
    font-size: 14px;
    text-indent: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
}

.searchBtn {
    width: 100px;
    height: 40px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    border-color: transparent;
    transition: var(--transition);
    border-top-right-radius: var(--border-raduis);
    border-bottom-right-radius: var(--border-raduis);
}

.searchBtn:hover {
    background-color: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.container {
    width: 100%;
    min-height: 360px;
    padding-bottom: 20px;
    position: absolute;
    left: 0;
    top: 20vh;
    background-color: var(--body-background);
    display: grid;
    grid-template-columns: 60% 20%;
    column-gap: 200px;
    direction: rtl;
}

.container>* {
    margin-top: 30px;
    position: relative;
    right: 50px;
    direction: ltr;
}

.itemsStuff>* {
    background-color: var(--text-color);
}

.itemsStuff {
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: 200px 1fr;
    row-gap: 50px;
    height: 100%;
}

.itemsContainer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    background-color: transparent;
}

.itemsContainer>* {
    background-color: var(--cards-background);
}


.containerTop {
    width: 80%;
    height: 200px;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 100%;
    /* column-gap: 10%; */
    background-color: var(--cards-background);
    text-indent: 20px;
}

.options,
.action {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 10%;
    place-content: center;
}

.removeAll,
.removeSelcted {
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--danger-color);
    border: 3px solid;
    border-color: transparent;
    border-radius: var(--border-raduis);
    padding: 10px 20px;
    cursor: pointer;
    transition: var(--transition);
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 0;
}

.removeAll:hover,
.removeSelcted:hover {
    background-color: transparent;
    border-color: var(--danger-color);
    color: var(--danger-color);
    border-radius: 0;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select>* {
    cursor: pointer;
    user-select: none;
    margin: 5px;
}

.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    position: relative;
    transition: var(--transition);
}

.checkbox:checked:before {
    content: '';
    width: 2px;
    height: 10px;
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-25%, -50%) rotate(45deg);
    background-color: var(--body-background);
}

.checkbox:checked:after {
    content: '';
    width: 2px;
    height: 6px;
    position: absolute;
    left: 26%;
    top: 60%;
    transform: translate(-25%, -50%) rotate(-45deg);
    background-color: var(--body-background);
}

.checkbox:checked {
    background-color: var(--primary-color);
}

.purchaseStuff {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--cards-background);
    text-indent: 20px;
    position: relative;
}

.title {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.priceValue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.priceValue:first-child {
    width: 40%;
}

.priceValue>* {
    display: flex;
    justify-content: flex-start;
}

.submit {
    width: 70%;
    height: 100%;
    border-radius: 25px;
    border: 3px solid;
    border-color: transparent;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-indent: 0;
    opacity: 0.5;
    color: var(--text-color);
    cursor: pointer;
    transition: var(--transition);
}

.submit:hover {
    background-color: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color);
    border-radius: 0;
    cursor: not-allowed;
}

.submit.active {
    opacity: 1;
    cursor: pointer !important;
}

.actions {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemContainer {
    position: relative;
    background-color: var(--cards-background);
}

.cBoxContainer {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.cBox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    position: relative;
    transition: var(--transition);
    transform: scale(0.8);
}

.cBox:checked:before {
    content: '';
    width: 2px;
    height: 10px;
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-25%, -50%) rotate(45deg);
    background-color: var(--cards-background);
}

.cBox:checked:after {
    content: '';
    width: 2px;
    height: 6px;
    position: absolute;
    left: 26%;
    top: 60%;
    transform: translate(-25%, -50%) rotate(-45deg);
    background-color: var(--cards-background);
}

.cBox:checked {
    background-color: var(--primary-color);
}

.itemImage {
    width: 200px;
    height: 90%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
}

.itemName {
    font-size: 26px;
    position: absolute;
    right: 290px;
    top: 5%;
    width: fit-content;
    word-wrap: break-word;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.itemPrice {
    position: absolute;
    right: 290px;
    bottom: 5%;
    font-size: 20px;
}

.removeItem {
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--danger-color);
    border: 3px solid;
    border-color: transparent;
    border-radius: var(--border-raduis);
    position: absolute;
    left: 20px;
    bottom: 5%;
    padding: 10px 20px;
    cursor: pointer;
    transition: var(--transition);
}

.removeItem:hover {
    background-color: transparent;
    border-color: var(--danger-color);
    color: var(--danger-color);
    border-radius: 0;
}

.warning {
    display: flex;
    width: 400px;
    height: 250px;
    background: var(--cards-background);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: var(--transition);
}

.warning.active {
    z-index: 3;
    opacity: 1;
}

.warningCont {
    width: 100%;
    height: 100%;
    position: relative;
}

.warningTitle {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--danger-color);
    font-size: 20px;
    font-weight: bold;
}

.warningTxt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    width: 80%;
}

.warningOptions {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.warningOption {
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    border-color: transparent;
    border-radius: var(--border-raduis);
    box-sizing: border-box;
    cursor: pointer;
    transition: var(--transition);
}

.warningYes {
    background-color: var(--danger-color);
    color: var(--text-color);
}

.warningYes:hover {
    color: var(--danger-color);
    border-color: var(--danger-color);
    border-radius: 0;
    background-color: var(--cards-background);
}

.warningNo {
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.warningNo:hover {
    color: var(--text-color);
    border-color: transparent;
    border-radius: 0;
    background-color: var(--primary-color);
}

.darkBg {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000ba;
    z-index: -1;
    opacity: 0;
    transition: var(--transition);
}

.darkBg.active {
    opacity: 1;
    z-index: 2;
}

.payments {
    width: fit-content;
    min-width: 300px;
    max-width: 430px;
    height: fit-content;
    min-height: 600px;
    max-height: 90%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #eee;
    color: var(--text-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: var(--border-raduis);
    opacity: 0;
    z-index: -1;
}

.payments.active {
    opacity: 1;
    z-index: 5;
}

.payments>* {
    width: 100%;
}

#paypal-button-container {
    overflow-y: auto;
}

#result-message {
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: var(--transition);
}

#result-message.active {
    font-size: 40px;
}

@media (min-width:320px) and (max-width:480px) {
    .search {
        font-size: 30px;
        font-weight: bold;
        color: var(--primary-color);
    }

    .container {
        grid-template-columns: 1fr;
        column-gap: 0;
    }

    .containerTop {
        width: 100%;
        grid-template-columns: 47.5% 47.5%;
        column-gap: 5%;
        text-indent: unset;
    }

    .itemsStuff {
        grid-template-columns: 100%;
        right: 0;
    }

    .options>*,
    .action>* {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
    }

    .action>* {
        font-size: 12px;
    }

    .options,
    .action {
        grid-template-rows: 50% 50%;
        align-items: center;
    }

    .itemImage {
        width: 90%;
        height: 70%;
        right: 50%;
        top: 5%;
        transform: translate(50%, 0);
    }

    .itemName {
        right: unset;
        left: 5%;
        top: 75%;
    }

    .removeItem {
        bottom: 5%;
        left: unset;
        right: 5%;
        font-size: 20px;
    }

    .itemPrice {
        right: unset;
        left: 5%;
        font-size: 30px;
    }

    .cBoxContainer {
        top: 78%;
        right: 5%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .cBoxContainer::before {
        content: 'Select';
        font-size: 25px;
        color: var(--primary-color);
    }

    .cBox {
        width: 30px;
        height: 30px;
    }

    .purchaseStuff {
        height: 300px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
        background-color: var(--cards-background);
        text-indent: 20px;
        position: relative;
        right: 0;
    }

    .title {
        font-size: 30px;
    }

    .price>* {
        font-size: 25px;
    }

    .submit {
        font-size: 25px;
    }

    .warningCont {
        background-color: var(--cards-background);
    }

    .cBox:checked:after {
        content: '';
        left: 32%;
    }

    .payments {
        width: 100%;
        min-width: unset;
        max-width: unset;
    }
}